In [44]:
import io
import pandas as pd
import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

locations_url = "https://rowermevo.pl/maps/locations.txt?key=jF5puHQe3CqssPZh"

In [19]:
def get_data():
    http = urllib3.PoolManager()
    resp = http.request('GET', locations_url)
    return resp.data

In [42]:
df = pd.read_csv(io.BytesIO(get_data()), index_col="NUMER STACJI")
print("Średnio rowerów", df["DOSTĘPNE ROWERY"].mean())
print("Dostepnych rowerów", df["DOSTĘPNE ROWERY"].sum())

/home/bartosz/.local/share/virtualenvs/mevo-9hs1NjYr/lib/python3.6/site-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

Średnio rowerów 0.4124809741248097
Dostepnych rowerów 271

In [48]:
from time import sleep
while True:
    df = pd.read_csv(io.BytesIO(get_data()), index_col="NUMER STACJI")
    print("Średnio rowerów: %.2f " % df["DOSTĘPNE ROWERY"].mean(), end="")
    print("Dostepnych rowerów", df["DOSTĘPNE ROWERY"].sum())
    sleep(5)

Średnio rowerów: 0.43 Dostepnych rowerów 281
Średnio rowerów: 0.43 Dostepnych rowerów 281
Średnio rowerów: 0.43 Dostepnych rowerów 281
Średnio rowerów: 0.42 Dostepnych rowerów 279
Średnio rowerów: 0.42 Dostepnych rowerów 279
Średnio rowerów: 0.43 Dostepnych rowerów 280
Średnio rowerów: 0.42 Dostepnych rowerów 278
Średnio rowerów: 0.42 Dostepnych rowerów 278
Średnio rowerów: 0.43 Dostepnych rowerów 280
Średnio rowerów: 0.43 Dostepnych rowerów 280
Średnio rowerów: 0.43 Dostepnych rowerów 280
Średnio rowerów: 0.43 Dostepnych rowerów 280
Średnio rowerów: 0.42 Dostepnych rowerów 278
Średnio rowerów: 0.42 Dostepnych rowerów 278
Średnio rowerów: 0.42 Dostepnych rowerów 276
Średnio rowerów: 0.42 Dostepnych rowerów 276
Średnio rowerów: 0.42 Dostepnych rowerów 273
Średnio rowerów: 0.42 Dostepnych rowerów 273
Średnio rowerów: 0.41 Dostepnych rowerów 272
Średnio rowerów: 0.41 Dostepnych rowerów 272
Średnio rowerów: 0.41 Dostepnych rowerów 271
Średnio rowerów: 0.41 Dostepnych rowerów 271
Średnio rowerów: 0.41 Dostepnych rowerów 270

KeyboardInterrupt:

In [47]:
df

,DOSTĘPNE ROWERY,WSPÓŁRZĘDNE,LICZBA STOJAKÓW,NUMERY DOSTĘPNYCH ROWERÓW
NUMER STACJI,,,,
11001,0,"54.3812100918, 18.6054587299",9,NaN
11002,0,"54.374521, 18.627199",5,NaN
11003,0,"54.389463584599, 18.593695163727",9,NaN
11004,0,"54.391231, 18.577875",9,NaN
11005,0,"54.40191, 18.57627",9,NaN
11006,1,"54.411, 18.57256",9,NaN
11007,0,"54.420799, 18.570151",9,NaN
11008,0,"54.36494, 18.57298",5,NaN
11009,0,"54.35334, 18.54956",5,NaN
11010,0,"54.35533, 18.52827",9,NaN
11011,0,"54.356303050664, 18.643047809601",6,NaN
11012,0,"54.347599131599, 18.644399642944",8,NaN
11013,0,"54.322651, 18.604989",0,NaN
11014,0,"54.38268, 18.467166",9,NaN
11015,0,"54.373962, 18.506272",0,NaN
11016,0,"54.355637190951, 18.645172119141",9,NaN
11017,0,"54.377197, 18.571688",9,NaN
11018,2,"54.401, 18.671393",5,"99108,98879"
11019,1,"54.399425, 18.669306",5,98350
11020,0,"54.403025, 18.655376",5,NaN
11021,2,"54.40031, 18.66138",5,"98254,99045"
11022,0,"54.4050809282, 18.6437160591",5,NaN
11023,0,"54.406679, 18.638487",5,NaN
11024,1,"54.403048, 18.639341",5,NaN
11025,0,"54.404177, 18.633224",5,NaN
11026,0,"54.3503625935, 18.6482637802",0,NaN
11027,0,"54.37789, 18.60724",5,NaN
11029,1,"54.406286715099, 18.632034659386",5,98308
11030,0,"54.404069, 18.628285",5,NaN
11031,0,"54.408109, 18.627325",5,NaN
...,...,...,...,...
10320,0,"54.5641289, 18.4099983",5,NaN
10321,0,"54.5633112, 18.4052671",5,NaN
10219,0,"54.0869215, 18.7953704",5,NaN
10218,0,"54.08713, 18.7996",5,NaN
10215,2,"54.077305, 18.800379",5,"98067,98892"
10216,4,"54.075085, 18.80625",6,"98761,98302,98203,99132"
10217,0,"54.08213, 18.8021725",5,NaN
10209,0,"54.0677898, 18.7676185",5,NaN
10208,2,"54.07328, 18.77435",5,"98631,98541"
10225,1,"54.096934, 18.781592",6,98103
10223,0,"54.0935831, 18.7861743",5,NaN
10224,0,"54.092934, 18.781654",5,NaN
10227,0,"54.0956971, 18.7753904",5,NaN
10210,0,"54.083724, 18.777332",5,NaN
10211,0,"54.088235, 18.782928",5,NaN
10212,0,"54.088421, 18.787949",6,NaN
10207,2,"54.088848, 18.772361",5,"98166,98809"
10206,0,"54.089577, 18.767345",6,NaN
10205,0,"54.09168, 18.76211",6,NaN
10204,0,"54.095626, 18.764943",5,NaN
10202,3,"54.098547762699, 18.764460682869",5,"98492,98486,99163"
10201,2,"54.1006493, 18.7720302",6,"98442,99141"
10226,0,"54.10068, 18.77945",5,NaN
10200,1,"54.096376, 18.789621",17,98727
10222,0,"54.0958978, 18.7930005",5,NaN
10221,5,"54.1027285, 18.802794",5,"98229,98225,98114,99194,99095"
10203,1,"54.0972362, 18.759778",5,99114
10213,1,"54.0856362, 18.793318",6,99162
10214,2,"54.077534, 18.7894486",5,"98218,98126"
10220,0,"54.0906352, 18.8023718",6,NaN